@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0f172a;
}
@keyframes shimmer {
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}

.animate-shimmer {
  background: linear-gradient(to right, #1e293b 8%, #334155 18%, #1e293b 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s linear infinite forwards;
}